:root {
    --background-color: #050816;
    --primary-color: #2563EB;
    --secondary-color: #7C3AED;
    --accent-color: #FBBF24;
    --light-accent-color: #E5E7EB;
    --highlight-color: #22D3EE;
    --text-color: #F8FAFC;
    --cards-color: #111827;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

ol, ul {
	list-style: none;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3 {
    font-family: "Space Grotesk", sans-serif;
}
h1 {
    font-weight: 700;
    font-size: 46px;
}
h2 {
    font-weight: 600;
    font-size: 24px;
}
h3 {
    font-weight: 500;
    font-size: 18px;
}

button {
    cursor: pointer;
}

section {
    padding: 1rem;
}

.section-heading {
    margin: 1rem 0;
    text-align: center;
}

header {
    background-color: var(--primary-color);
    position: relative;
    padding: 1rem;
    height: 117px;
    overflow: hidden;
}

header img.logo {
    display: block;
    height: 75px;
    position: absolute;
    right: 15px;

}

button.mobile-menu {
    position: absolute;
    top: 15px;
}

.mobile-menu img {
    height: 75px;
}

#main-menu {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 100vw;
    top: 117px;
    background: #000;
    transition: left ease-in-out 400ms;
    
}

#main-menu a {
    display: block;
    text-decoration: none;
    color: inherit;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

#main-menu li {
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid var(--text-color);
}

#main-menu ul {

    margin-top: 10%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.hero {
    position: relative;
}

.hero .hero-text {
    position: absolute;
    top: 35%;
    width: 80%;
    max-width: 600px;
    text-align: center;
    font-weight: 600;
}

.hero h1 {
    color: var(--text-color);
}

.hero img {
    width: 100%;
}

.newsletter {
    background-color: var(--secondary-color);
    padding: 2rem 1rem;
}

.newsletter h3 {
    margin-bottom: 1rem;
    text-align: center;
    
}

.inputs {
    margin-bottom: 1.5rem;
}

.li-group {
    margin-bottom: 0.5rem;
}

.inputs input {
    display: block;
    width: 100%;
    padding: 0.5rem;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: larger;
    
}

.planets-spotlight {
    min-height: 100vh;
}



.planets-spotlight .planet-img {
    margin-bottom: 1rem;
}

.planets-spotlight h3 {
    margin-bottom: 1rem;
    font-size: 24px;
}

.featured {
    background-color: var(--text-color);
    color: var(--background-color);
}

.featured .article-info {
    margin: 1rem 0;
}

.movie-night .video {
    width: 100%;
    margin-bottom: 2rem;
}

.video iframe {
    max-width: 100%;
}

footer {
    padding: 1rem;
    text-align: center;
}

footer ul {
    padding: 1rem;
}

footer li {
    margin-bottom: 1rem;
}

@media screen and (min-width:420px) {
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 22px;
    }
}