
/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
Primary / Main	#476F95	30–40% — your defining blue
Secondary	#7593AF	20–25% — supporting elements
Accent	#194A7A	5–10% — buttons, highlights, important elements
Light Secondary	#A3B7CA	15–20% — cards, secondary backgrounds, borders
Background	#D1DBE4	20–30% — large/light areas
 */

:root {
--primary-color: #000000;
--secondary-color: #333;
--accent-color: #d33131;
--light-secondary: #b36f66;
/* --alt-background-color: #282121; */
}



body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
}

a:link {
    color: var(--light-secondarys);
}
a:visited {
    color: var(--accent-color);
}

header {
    background-color: var(--primary-color);
    color: #fff;
}

#course-title{
    display: block;
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
}

nav {
    width: 100%;
    background-color: var(--secondary-color);
}

nav ul {
    width: 100%;
    display: flex;
    font-size: larger;
    font-weight: normal;
}

nav li {
    flex: 1 1 auto;
    text-align: center;
}

nav a {
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: #fff;
}

nav a:link{
    color: #fff;
}
nav a:visited {
    color: #fff;
}

nav a:hover {
    background-color: var(--accent-color);
}

main {
    width: 90%;
    margin: 0 auto 1rem;
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 1%;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem;
    grid-column: 1 / span 2 ;
    /* color: var(--accent-color); */
}

.card {
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    overflow: hidden;
}

.card > div {
    padding: 0.5rem;
}

.card .heading {
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: larger;
    font-weight: normal;
}

.card-grid {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 90%;
    margin: 0 auto;
}

.card ul {
    margin: 0.5rem;
}

.card li {
    margin-bottom: 10px;
}

.card .profile-pic {
    width: 100%;
}

.card .flag-pic {
    float: left;
    width: 20%;
    margin-right: 20px;
}

.flag-pic img {
    width: 100%;
}

.card p {
    padding: 1rem;
}

.card h3 {
    width: 80%;
    margin: 0 auto 10px;
    padding: 1rem;
    border-bottom: 1px solid var(--accent-color);
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.clear {
    clear: both;
}

.fine-print {
    font-size: x-small;
    line-height: 1;
}