/* 
Select a color scheme that supports the country or place.

For example, the webpages screenshotted above use the colors of Madagascar's flag.
The typography choice is up to you.
The minimum styling requirements include:

    Matching the layouts shown in the wireframes
    Using a media query or queries.
    Using global CSS variables.
    Using a pseudo-element for the weather icon in the large view located after the heading "Weather".


*/

/* 
color scheme taken from: https://designsystem.utah.gov/guidelinesStandards/designGuidelines/color
*/

:root {
    --utah-brand-primary-color-blue-dark: #071D49;
    --utah-brand-primary-color-blue-medium: #093692;
    --utah-brand-primary-color-blue-light: #81D0F0;
    --utah-brand-primary-color-gold-light: #FFB81D;
    --utah-brand-primary-color-gold-medium: #FF8C03;
    --utah-brand-primary-color-red: #AA0200;
    --text-color-primary-contrast: #fff;
}

/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}



header {
    background-color: var(--utah-brand-primary-color-blue-dark);
    color: var(--text-color-primary-contrast);
    padding: 2rem 1.5rem;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 10px solid var(--utah-brand-primary-color-gold-medium);
}

#hero-image {
    background-color: var(--utah-brand-primary-color-gold-medium) ;
}

#hero-image img {
    max-width: 100vw;
    border-bottom: 5px solid var(--utah-brand-primary-color-gold-medium) ;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    border: 1px solid var(--utah-brand-primary-color-gold-light);
}

section h2 {
    padding: 0 0 1.5rem;
    font-size: 2.5rem;
}

#weather h2::after {
    content: url('/images/weather-icon.svg');
}

section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1rem;
    justify-content: center;
}

section li {
    display: contents;
}

section .label {
    text-align: right;
}



footer {
    background-color: var(--utah-brand-primary-color-blue-dark);
    color: var(--text-color-primary-contrast);
    padding: 1rem;
    text-align: center;
}

@media screen and (min-width: 1025px) {
    main {
        position: relative;
    }

    section {
        position: absolute;
        width: 400px;
        background-color: #fff;
        padding: 0 0 1.5rem;
    }

    section h2 {
        position: relative;
        background-color: var(--utah-brand-primary-color-gold-medium);
        color: var(--text-color-primary-contrast);
        width: 100%;
        padding: 1rem 1.5rem ;
        margin-bottom: 1rem;
    }

    #weather h2::after {
        position: absolute;
        content: '';
        background-image: url('/images/weather-icon.svg');
        width: 60px;
        height: 60px;
        bottom: 10px;
    }

    #data {
        left: 7%;
        top: 10%;
    }

    #weather {
        right: 10%;
        bottom: 20%;
    }
}