/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}


/* 
Begin page styles
*/

:root {
--primary-color: #000000;
--secondary-color: #333;
--accent-color: #ff2e2e;
/* --light-secondary: #d33131; */
/* --alt-background-color: #282121; */
}




body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
}

a:link {
    color: var(--secondary-color);
}
a:visited {
    color: var(--accent-color);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    font-size: large;
    padding: 1.25rem;
}

.page-title {
    font-size: larger;
    font-weight: 500;
}

.menu-toggle {
    padding: 1rem;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.menu-toggle .hamburger {
    background-color: #fff;
    height: 5px;
    width: 30px;
    border-radius: 10%;
}

nav {
    display: flex;
}

#main-menu {
    background-color: var(--secondary-color);
    height: 0;
    overflow: hidden;
    transition: height 400ms ease;
}

#main-menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: normal;
}

#main-menu li {
    flex: 1 1 auto;
    text-align: center;
}

#main-menu a {
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;   
}

#main-menu a:link{
    color: #fff;
}
#main-menu a:visited {
    color: #fff;
}

main {
    width: 90%;
    margin: 0 auto 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.card {
    width: 100%;
    border: 1px solid var(--accent-color);
}

.card img {
    width: 100%;
}

.card figcaption {
    background-color: var(--accent-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}


footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

